{% extends "base.html" %}
{% block content %}

<section class="section container">
  <h1 class="h1">Career</h1>
  <p class="lead">Join a team that values innovation, integrity, and delivery.</p>

  <div class="career-grid">

    <!-- LEFT SIDE -->
    <div class="career-left">
      <h2>Current Openings</h2>
      <ul class="bullets">
        <li>Project Manager</li>
        <li>Architect</li>
        <li>Sales Executive</li>
        <li>Engineer</li>
        <li>Others</li>
      </ul>
      <a href="/contact-us" class="btn btn-light">Contact with us</a>
    </div>

    <!-- RIGHT SIDE -->
    <div class="career-right">
      <h2>How to Apply</h2>
      <p>If you're interested in any of these positions, please fill out the form below, and we will get in touch with you.</p>
    </div>

  </div>
</section>

{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/career.css?v={{ assetv }}" />
{% endblock %}